In [2]:
import pandas as pd
from pymongo import MongoClient
import numpy as np
#import the data_tools needed
import sys
sys.path.insert(0, "../../data_tools/")
from mongo_tools import get_mongo_database,mongo_coll_to_dicts, mongo_to_dataframe, dataframe_to_mongo

#import the project specific data params
sys.path.insert(0, "../")
from data_params import DATABASE
db = get_mongo_database(DATABASE)
db.collection_names()

In [34]:
#cleaning winners_2012
#store in mongo the data scrapped
df = mongo_to_dataframe(DATABASE,'winners_2012')

In [49]:
df.head()

,country,country_code,country_link,date,event,medal,name,sport
0,United States,USA,/wiki/United_States_at_the_2012_Summer_Olympics,2016-07-28,Men's 400 m individual medley,01,"Lochte, Ryan",Swimming
1,United States,USA,/wiki/United_States_at_the_2012_Summer_Olympics,2016-07-29,Women's skeet,01,"Rhode, Kim",Shooting
2,United States,USA,/wiki/United_States_at_the_2012_Summer_Olympics,2016-07-29,Women's 100 m butterfly,01,"Vollmer, Dana",Swimming
3,United States,USA,/wiki/United_States_at_the_2012_Summer_Olympics,2016-07-30,Men's 100 m backstroke,01,"Grevers, Matt",Swimming
4,United States,USA,/wiki/United_States_at_the_2012_Summer_Olympics,2016-07-30,Women's 100 m backstroke,01,"Franklin, Missy",Swimming

In [37]:
#drop the TBC for France prices
df = df[df.medal != 'TBC']
#adjust dates and convert to datetime
df.date = df.date.str.replace('00000000','')
df.date = df.date.str.replace('-0000','')
df.date = pd.to_datetime(df.date,errors='coerce')
#clean country code
df.country_code = df.country_code.str.replace('(','')
df.country_code = df.country_code.str.replace(')','')
#clean medals
df.medal = df.medal.str.replace(' !','')

In [45]:
#cleaning winners_2012
#store in mongo the data scrapped
df_2 = mongo_to_dataframe(DATABASE,'winners_1896_2008')

In [46]:
df_2.head()

,Athlete,City,Discipline,Edition,Event,Event_gender,Gender,Medal,NOC,Sport
0,"HAJOS, Alfred",Athens,Swimming,1896,100m freestyle,M,Men,Gold,HUN,Aquatics
1,"HERSCHMANN, Otto",Athens,Swimming,1896,100m freestyle,M,Men,Silver,AUT,Aquatics
2,"DRIVAS, Dimitrios",Athens,Swimming,1896,100m freestyle for sailors,M,Men,Bronze,GRE,Aquatics
3,"MALOKINIS, Ioannis",Athens,Swimming,1896,100m freestyle for sailors,M,Men,Gold,GRE,Aquatics
4,"CHASAPIS, Spiridon",Athens,Swimming,1896,100m freestyle for sailors,M,Men,Silver,GRE,Aquatics

In [47]:
#cleaning winners_2012
#store in mongo the data scrapped
df_3 = mongo_to_dataframe(DATABASE,'wb_demo_eco')

In [48]:
df_3.head()

   GDP_cst_dollars     country   population  year
0     2.773270e+12  Arab World  368802611.0  2012
1     2.497945e+12  Arab World  361031820.0  2011
2     2.103825e+12  Arab World  353112237.0  2010
3     1.798878e+12  Arab World  345054176.0  2009
4     2.081343e+12  Arab World  336886468.0  2008